body {
    background-image: url("https://thumbs.gfycat.com/AmusingBlushingIrishwaterspaniel-size_restricted.gif");
    background-size: 100%;
}

.container {
    background-color: #EBDEF0;
    opacity: 0.7; 
}


.choice:hover {
    font-style: italic;
}